@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Copse&display=swap');

body {
  background-color: #f6f5f3;
  color: #3a4660
}

button:hover{
  background-color: #d8a392!important;
}
button:focus{
  background-color: #bd8c7d!important;
}

.artist-teaser {
  height: 300px;
  overflow-y: auto;

}
.bold {
  font-weight: 600;
}

.t {
  font-weight: 500;
}

.blurb {
  width: 800px;
  margin: 0 auto 0 auto;
  font-size: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f6f5f3 inset !important;
}

input:focus {
     border-bottom: 1px solid #3a4660!important;
     box-shadow: 0 1px 0 0 #3a4660!important;
   }

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  -webkit-fill-color: red!important;
} */

.c {
  font-family: 'Copse', serif;
  /* color: #3d3d3f; */
  /* color: #acb7ae; light green neutral */
  /* color: #82716e;  brownish */
  color: #3a4660; /* navy blue */
}
.reddish-text {
  color: #bd8c7d;
  /* font-style: italic; */
  font-weight: 600;
}

.reddish {
  background-color: #bd8c7d;
}

.down {
  margin-top: 40px;
}

/*
.center {
  align-content: center;
  width: 1000px;
  display: inline-block;
  height: 1000px;
}

.parent {
  text-align: center;
}

.artists {
  display: flex;
  align-items: center;
}

.teaser { */
  /* background-color: #B8B8B8; */
  /* border: 1px black;
  border-radius: 10px;

  font-size: 12px;
  padding: 20px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.18);
}



.list-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}


.artist-name button {
  font-size: 25px;
}
.search{
  width: 100px;
}

.createAccountButton {
  width: 150px;
}
button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;

  background-color: #DCD0C0;
  color: #373737;
  border: #DCD0C0;
  height: 30px;
  width: 30px;
  font-size: 16px;

}
.matchButton {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background-color: #DCD0C0;
  color: #373737;
  border: #DCD0C0;
  height: 30px;
  width: 30px;
  font-size: 20px;

}


.tan {
  font-family: 'Raleway', sans-serif;
  background-color: #DCD0C0;
  color: #373737;
}

.normal {
  width: 100px
}

.save {
  background-color: green;
  color: white;
}



input {
  font-family: 'Raleway', sans-serif;
  height: 30px;
  width: 250px;
  margin: 10px;
  padding-left: 10px;
  font-size: 14px;
}

.landingContainer {
  display: flex;
} */
.profile {
  width: 250px;
  height: 250px;
}
.home-container {
  display: flex;
  justify-content: center;
}

 .tan {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: #373737;
}

.navlinks {
  font-family: 'Raleway', sans-serif;
  color: #373737;
  font-size: 16px;
  text-transform: uppercase;
}

.activenavlinks {
  color: red;
}
/* .testdiv{
  border: 1px solid black;
  width: 200px;
  height: 50px;
}

.test {
  color: red;
  background-color: pink;
} */
