ul {
  display: inline;
  font-size: 20px;
  text-decoration: none;
}

li {

  display: inline;
  margin: auto 5px 5px 5px;

  text-decoration: none;
}

.navbar {
  background-color: white;
  height: 40px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: red;
}

.navbar ul li:first-child {float: left}

.navbar ul li {
  list-style: none;
  margin: 10px;
  float: right;
}
